.shortcut-link {
	float: right;
	background-color: #ccff99;
	margin: 0 0 0.5em 0.5em;
	padding: 5px 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 85%;
	text-align: center;
}
